# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
services/api-gateway-service/.env
services/auth-service/.env
services/chat-service/.env
services/notification-service/.env
services/message-worker-service/.env
services/message-worker-service/node_modules
services/chat-service/node_modules
services/auth-service/node_modules
services/api-gateway-service/node_modules
services/notification-service/node_modules
# dependencies
/node_modules
services/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
